body{
    background-color: #F5f5f4;
}
.cloud{
    position: absolute;
    padding-left: 25rem;
    left: 0px;
    top: 0px;
    z-index: -1;
    text-align: center;
}
.top{
    position: absolute;
    padding-left: 25rem;
    left: 0px;
    top: 0px;
    z-index: -1;
    text-align: center;
}
.bg{
    position: absolute;
    height:1350px;
    width: 1080px;
    padding-left: 25rem;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -2;
    text-align: center;
}
.bottom{
    position: absolute;
    padding-left: 25rem;
    left: 0px;
    top: 0px;
    z-index: -1;
    text-align: center;
}
